boto3
botocore
brotlipy==0.7.0
certifi==2021.10.8
cffi
click==8.0.3
cryptography
dnspython==1.16.0
email-validator
Flask
Flask-Login==0.5.0
Flask-WTF==0.14.3
gunicorn==20.1.0
idna
itsdangerous
Jinja2
jmespath
MarkupSafe
olefile==0.46
phonenumbers
Pillow==8.4.0
pycparser
pymongo==3.12.0
pyOpenSSL
PySocks
python-dateutil==2.8.1
s3transfer
six==1.15.0
urllib3
Werkzeug
WTForms 
