{% extends "layout.html" %}
{% block content %}
  <p> {{ current_user.__class__ }} </p>
  <p> literally here </p>
	<ul class='nav'>
		<li class='nav-link'><a href="{{url_for('employees.user_lookup')}}">Directory</a></li>
		<li class='nav-link'><a href="{{url_for('employees.personal_info')}}">Personal Information</a></li>
    <li class='nav-link'><a href="{{url_for('owners.set_pay')}}">Set pay</a></li>
    <li class='nav-link'><a href="{{url_for('owners.upload_payslips')}}">Upload Payslips</a></li>
		<li class='nav-link'><a href="{{url_for('owners.increment_employee_pay')}}">Increment Pay</a></li>
    <li class='nav-link'><a href="{{url_for('owners.decrement_employee_pay')}}">Decrement Pay</a></li>
	</ul>
{% endblock %}
